# =========================
# DATA & DATABASES
# =========================
data/
dbs/

# =========================
# CACHE
# =========================
.geoseeq_api_cache/

# =========================
# BIOINFO FILES
# =========================
*.fastq
*.fastq.gz
*.fasta
*.fa
*.bam
*.sam

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# TEMP
# =========================
*.tmp
